Implicit type casting

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

In [1]:
#Implicit type casting
a = 10
b = 3.5
c = a + b

print(c)
print(type(c))
#<class 'float'>
print(type(a))

13.5
<class 'float'>
<class 'int'>

In [7]:
result = True + 2
result

3

In [11]:
#integer to String
a = 20
b = str(a)
c = "20"
print(b+c)
print(b)
print(type(b))

2020
20
<class 'str'>

In [15]:
#str to int
a = "123"
b = int(a)
c = 34
print()

In [21]:
#float to integer
a = 12.34
b = int(a)

print(b)
type(b)

12

int

In [31]:
#str to flo
a = "12.34"
h = "3"
b = float(a)
n = float(h)
print(n+b)
print(n)

print(type(n))

15.34
3.0
<class 'float'>

In [35]:
#float to string
a = [1,2,3]
b = tuple(a)

print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>